body {
	margin: 0;
	font-family: 'League Spartan', sans-serif;
	font-size: 20px;
	line-height: 30px;
}

/*Header section*/

header{
	background-color: yellow;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;